.cp{
  cursor: pointer;
}



.header-scrolled a   {
  color: white !important;
}


.brand-wrap { 
  background: url(../img/banner-bg5.jpeg) center;
  background-size: cover ;
  
}

.brand-wrap  a {
  color: white !important;
  font-weight: bolder !important;
}

/*
#header.header-scrolled { 
  background: url(../img/banner-bg6.png) center;
  background-size: cover 
}
*/


#header.header-scrolled { 
   background: #3f2d47 !important; 
}


.footer-area .footer-social a i{
 
}


.brands-area{
  line-height: 1.0em !important;
}


.float-wpp{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin-top:16px;
}

.icon-whatsapp:hover, .icon-whatsapp:focus{
  color: #00800082 !important; 
}

.text-black{
  /*color: black !important;*/
  font-weight: bolder !important;
}

@media (max-width: 450px) {

  .banner-content {
      text-align: center !important;
  }
        
} 

@media (max-width: 768px){

  .lity-iframe-container{
     height: 550px !important;
  }    
  .logo-menu{
    max-height: none !important;
  }
  .testimonials_area{
    padding-bottom: 0px !important;
  }

}




@font-face {
     font-family: Futura;
     src: url('../fonts/custom/Fonts/FuturaNext-Light.otf');
}

body, html{
  font-family: Futura !important;
}


h1,
h2,
h3,
h4,
h5,
h6,a {
  font-family: Futura !important; 
}



.site-section-heading.text-center:after {
    content: "";
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 1px;
    background: #3f2d47;
}



.single-work .middle {    
    opacity: inherit !important;    
}

.single-work .middle h4 {
    /*color: #3f2d47 !important;*/
  }

  #mobile-nav-toggle{
    margin-top: 7% !important;
  }